{% extends 'base.html'%}
{% block main_base%}
<section class="header4 cid-qyk0Y195zN" id="header4-1" data-rv-view="993">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="media-content col-md-10">
        <h1 class="mbr-section-title align-center mbr-white pb-3 mbr-bold mbr-fonts-style display-5"><span
            style="font-weight: normal;">Responsive Bootstrap Application Template</span></h1>
        <h3 class="mbr-section-subtitle align-center mbr-white mbr-light pb-3 mbr-fonts-style display-1">
          HymnBook</h3>
        <div class="mbr-text align-center mbr-white pb-3">
          <p class="mbr-text mbr-fonts-style display-5">
            If you have an idea for creating a mobile application, there is no doubt that it will work and even
            generate income, if your mobile application is useful for users. The aim can be the optimization of
            everyday tasks or solving the problems.</p>
        </div>
        <div class="mbr-section-btn align-center"><a class="btn btn-md btn-white-outline display-4"
            href="https://mobirise.com/bootstrap-template/application-template/#">GET ON APP STORE</a>
          <a class="btn btn-md btn-white-outline display-4"
            href="https://mobirise.com/bootstrap-template/application-template/#">GET ON PLAY MARKET</a></div>
      </div>

      <div class="mbr-figure pt-5" style="width: 60%;">
        <img src="/static/img/mbr-1-1620x1080.jpg" alt="Mobirise" title="" media-simple="true">
      </div>
    </div>
  </div>
</section>



  <section class="cid-qyjVcMTXLT mbr-parallax-background" id="header2-0" data-rv-view="996"
  data-jarallax-original-styles="null"
  style="z-index: 0; position: relative; background-image: none; background-attachment: scroll; background-size: auto;">



  <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(79, 73, 67);"></div>

  <div class="container align-center">
    <div class="row justify-content-md-center">
      <div class="mbr-white col-md-10">


        <p class="mbr-text pb-3 mbr-fonts-style display-5">
          The HTML5 application is a version of an existing website that is adapted to the mobile device. This is an
          addition to the website for users of smartphones and tablets.
        </p>
        <div class="mbr-section-btn"><a class="btn btn-md btn-black display-4" href="https://mobirise.com/">GET ON APP
            STORE</a>
          <a class="btn btn-md btn-black display-4" href="https://mobirise.com/">GET ON PLAY MARKET</a></div>
      </div>
    </div>
  </div>

  <div id="jarallax-container-0"
    style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;">
    <div
      style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url(&quot;https://mobirise.com/bootstrap-template/application-template/assets/images/coolapp-2000x1333.jpg&quot;); position: fixed; top: 0px; left: 0px; width: 1905px; height: 1269.68px; overflow: hidden; pointer-events: none; margin-left: 0px; margin-top: -167.341px; visibility: visible; transform: translate3d(0px, 474.403px, 0px);">
    </div>
  </div>
</section>

<section class="features1 cid-qyp9g9ptI2" id="features1-c" data-rv-view="999">




  <div class="container">
    <div class="media-container-row">

      <div class="card p-3 col-12 col-md-6 col-lg-4">
        <div class="card-img pb-3">
          <span class="mbr-iconfont mbrib-hearth" style="color: rgb(255, 255, 255);" media-simple="true"></span>
        </div>
        <div class="card-box">
          <h4 class="card-title py-3 mbr-fonts-style display-2">
            Sharing</h4>
          <p class="mbr-text mbr-fonts-style display-5">
            Application performance guarantee. It should be.
          </p>
        </div>
      </div>

      <div class="card p-3 col-12 col-md-6 col-lg-4">
        <div class="card-img pb-3">
          <span class="mbr-iconfont mbrib-smile-face" style="color: rgb(255, 255, 255);" media-simple="true"></span>
        </div>
        <div class="card-box">
          <h4 class="card-title py-3 mbr-fonts-style display-2">Find Friends</h4>
          <p class="mbr-text mbr-fonts-style display-5">
            All the money received with the application, directly depends on its popularity.
          </p>
        </div>
      </div>

      <div class="card p-3 col-12 col-md-6 col-lg-4">
        <div class="card-img pb-3">
          <span class="mbr-iconfont mbrib-cloud" style="color: rgb(255, 255, 255);" media-simple="true"></span>
        </div>
        <div class="card-box">
          <h4 class="card-title py-3 mbr-fonts-style display-2">
            Cloud Storage</h4>
          <p class="mbr-text mbr-fonts-style display-5">
            The convenience of navigation inside the application.</p>
        </div>
      </div>



    </div>

  </div>

</section>

<section class="mbr-section info2 cid-qypuIzB65Z" id="info2-h" data-rv-view="1002">





  <div class="container">
    <div class="row justify-content-center">
      <div class="media-container-column col-12 col-lg-3 col-md-4">
        <div class="mbr-section-btn align-left py-4"><a class="btn btn-white-outline display-4"
            href="https://mobirise.com/bootstrap-template/application-template/#">DOWNLOAD NOW</a></div>
      </div>
      <div class="media-container-column title col-12 col-lg-7 col-md-6">
        <h2 class="align-right mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
          HymnBook</h2>
        <h3 class="mbr-section-subtitle align-right mbr-light mbr-white mbr-fonts-style display-5">Development of
          mobile applications and web projects for business and start-ups.</h3>
      </div>
    </div>
  </div>
</section>

<section class="header3 cid-qyoZgHBpNG" id="header3-4" data-rv-view="1005">





  <div class="container">
    <div class="media-container-row">
      <div class="mbr-figure" style="width: 100%;">
        <img src="/static/img/mbr-2-1620x1080.jpg" alt="Mobirise" title="" media-simple="true">
      </div>

      <div class="media-content">


        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="mbr-text mbr-fonts-style display-5">We offer business automation services, creating startup
            projects, increasing sales and improving service.
          </p>
        </div>

      </div>
    </div>
  </div>

</section>

<section class="header3 cid-qyoZY2o4dV" id="header3-8" data-rv-view="1008">





  <div class="container">
    <div class="media-container-row">
      <div class="mbr-figure" style="width: 100%;">
        <img src="/static/img/mbr-3-1620x1080.jpg" alt="Mobirise" title="" media-simple="true">
      </div>

      <div class="media-content">


        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="mbr-text mbr-fonts-style display-5">
            The biggest advantage of the application is its unique features. It offers things that no other service
            will do.
          </p>
        </div>

      </div>
    </div>
  </div>

</section>

<section class="header7 cid-qyoZlPin4Y" id="header7-6" data-rv-view="1011">





  <div class="container">
    <div class="media-container-row">

      <div class="media-content align-right">

        <div class="mbr-section-text mbr-white pb-3">
          <p class="mbr-text mbr-fonts-style display-5">
            Schools and colleges, manufacturing and construction companies, digital agencies choose our application
            management platform.
          </p>
        </div>

      </div>

      <div class="mbr-figure" style="width: 100%;"><iframe class="mbr-embedded-video"
          src="./Free HTML Bootstrap Application Template_files/uNCr7NdOJgw.html" width="1280" height="720"
          frameborder="0" allowfullscreen="" style="height: 285.188px;"></iframe></div>

    </div>
  </div>
</section>

<section class="testimonials1 cid-qypesIbxU7" id="testimonials1-e" data-rv-view="1016">




  <div class="container">
    <div class="media-container-row">
      <div class="title col-12 align-center">
        <h2 class="pb-3 mbr-fonts-style display-2">
          Some reviews from our awesome users...</h2>

      </div>
    </div>
  </div>

  <div class="container pt-3 mt-2">
    <div class="media-container-row">
      <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
        <div class="panel-item p-3">
          <div class="card-block">
            <div class="testimonial-photo">
              <img src="/static/img/cat-as-a-user-1-1200x1200.jpg" alt="" title="" media-simple="true">
            </div>
            <p class="mbr-text mbr-fonts-style display-5">
              This program can be downloaded for free!
            </p>
          </div>
          <div class="card-footer">
            <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
              John Smith
            </div>

          </div>
        </div>
      </div>

      <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
        <div class="panel-item p-3">
          <div class="card-block">
            <div class="testimonial-photo">
              <img src="/static/img/cat-as-a-user-2-1200x1200.jpg" alt="" title="" media-simple="true">
            </div>
            <p class="mbr-text mbr-fonts-style display-5">
              It is just to simplistic for me. Latest updates in the last year have kept me from using the app.
            </p>
          </div>
          <div class="card-footer">
            <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
              John Smith
            </div>

          </div>
        </div>
      </div>

      <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
        <div class="panel-item p-3">
          <div class="card-block">
            <div class="testimonial-photo">
              <img src="/static/img/cat-as-a-user-3-1200x1200.jpg" alt="" title="" media-simple="true">
            </div>
            <p class="mbr-text mbr-fonts-style display-5">
              Too many noticeable changes.
            </p>
          </div>
          <div class="card-footer">
            <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
              John Smith
            </div>

          </div>
        </div>
      </div>






    </div>
  </div>
</section>
{% endblock%}
